

.notebook {
    width: 100%;
    min-width: 500px;
    min-height: 650px;
    background: white;
    box-shadow: 
        0 2px 5px rgba(0,0,0,0.1),
        0 10px 30px rgba(0,0,0,0.4),
        inset 0 0 100px rgba(101, 67, 33, 0.08);
    position: relative;
    padding: 2rem 2.5rem 2rem 1.5rem; 
    border-radius: 2px;
}
.content {
    position: relative;
    z-index: 3;
    line-height: 32px;
    color: #1a1a1a;
    outline: none;
    padding-top: 0;
    word-wrap: break-word;
    display: none;
}

.content.active {
    display: block;
}



/* Horizontal lines */
.lines {
    position: absolute;
    top: 2rem;
    left: 0.7rem;
    right: 0.7rem;
    bottom: 0;
    background-image: repeating-linear-gradient(
        transparent,
        transparent 31px,
        rgba(150, 130, 110, 0.4) 31px,
        rgba(150, 130, 110, 0.4) 32px
    );
    pointer-events: none;
    z-index: 1;
}



/* 
@media (max-width: 768px) {
  .notebook {
    padding: 1.5rem;
    min-height: 400px;
  }
  .content {
    font-size: 0.9rem;
    line-height: 28px;
    min-height: 400px;
  }
}

@media (max-width: 480px) {
  .notebook {
    padding: 1rem;
    min-height: 300px;
  }
  .content {
    font-size: 0.85rem;
    line-height: 24px;
    min-height: 50px;
  }
  .lines{
    top: 0.5rem;
  }
} */