@import "tailwindcss";
@font-face {
    font-family: 'Excalifont';
    src: url('../../public/fonts/Excalifont-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Excalifont', sans-serif;
    background-color: #000;
    color: #fff;
}



.pageWrapper {
  padding: 2rem;
  background: radial-gradient(circle at center, #1a1a1a 0%, #000 80%);
  width: 500px;
  min-height: 650px;
  border-radius: 0.5rem;
}
